In [ ]:
# Reading the desire file with Pandas
sucursal = pd.read_csv('Datasets\Datasets relevamiento precios\sucursal.csv')

# Rename the columns of the dataframe.
sucursal.rename(columns={'id':'sucursal_id', 'lat':'latitud', 'lng':'longitud'}, inplace=True)

# Droping duplicates because they only add noise to the data.
sucursal.drop_duplicates(inplace=True)

# Normalizing the column localidad using string methods. In this case str.title
sucursal['localidad'] = sucursal['localidad'].apply(lambda x: x.title())

# Through SQLAlchemy we create the conection between Python and MySQL, in order to sent the corrected dataframes to a local server in MySQL
from sqlalchemy import create_engine

mysqlengine = create_engine('mysql+pymysql://root:14Arsenal14*@127.0.0.1:3306/PI_1')
sucursal.to_sql(name='sucursal',con=mysqlengine, if_exists='append', index = False)

In [ ]:
# Reading the desire file with Pandas
producto = pd.read_parquet('Datasets\Datasets relevamiento precios\producto.parquet')

# Rename the columns of the dataframe.
producto.rename({'id':'producto_id'}, inplace=True, axis=1)

# We replace the null values for a chain of 0 characters with the same lenght that the producto_id values have (13).
producto.producto_id = producto.producto_id.apply(lambda x: str(x).replace('nan','0000000000000'))

 # In case that the values have point, comas and/or spaces this line of code will removed them looking for normalization of the data.
producto['producto_id'] = producto['producto_id'].apply(lambda x: x.replace(',','.').strip())

# If the values have less than 13 digits we add the number of remaining  digits to be able to execute the next slicing.
producto['producto_id'] = producto['producto_id'].apply(lambda x:  (((13 - len(x)) * '0') + x) if len(x)<13 else x)

# Using slicing we obtain the section of the data that we are interested in.
producto.producto_id = producto.producto_id.apply(lambda x: str(x)[-1:-14:-1])
producto.producto_id = producto.producto_id.apply(lambda x: str(x)[::-1])

 # Data conversion to float to normalize data for the next step.
producto['producto_id'] = producto['producto_id'].astype('float')

# As the source data comes with values in cientific notation, we use a lambda function combined with pd.apply and format to chage the data to the desire outcome.
producto['producto_id'] = producto['producto_id'].apply(lambda x: '%13.0f'% x)

# Data conversion to integers.
producto['producto_id'] = producto['producto_id'].astype('int64')

# In case that some columns remained with null values, we change them for 0. It would be a good practice to separate null values from errors, nevertheless,
# the source files (.csv, json, .tct etc.) come with so many of them that it is complex to handle them.
producto = producto.fillna(0)

# We erase the empty spaces and capitalize the letters of the words that made the values to normalize information.
producto['marca'] = producto.marca.apply(lambda x: str(x).title().strip())
producto['nombre'] = producto.nombre.apply(lambda x: str(x).title().strip())
producto['presentacion'] = producto.presentacion.apply(lambda x: str(x).title().strip())

# Droping duplicates because they only add noise to the data.
producto.drop_duplicates(inplace=True)

# Through SQLAlchemy we create the conection between Python and MySQL, in order to sent the corrected dataframes to a local server in MySQL
from sqlalchemy import create_engine
mysqlengine = create_engine('mysql+pymysql://root:14Arsenal14*@127.0.0.1:3306/PI_1')

producto.to_sql(name='producto',con=mysqlengine, if_exists='append', index = False)