In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Creation of a function that reads the relative path of a file and create a Dataframe from it. The function implements the pandas library, a for loop, conditionals
# and try and except senteces.

def reading(file):
    
    import pandas as pd
    import numpy as np
    
    extension = ''
    for i in file[::-1]:
        extension += i
        if i == '.':
            break
    extension = extension[::-1]    

    if extension == '.csv' or extension == '.txt':
        try:
            df = pd.read_csv(file,encoding='utf-16')

        except:
            try:
                df = pd.read_csv(file,sep='|')

                if len(df.columns) < 3:
                    df = pd.read_csv(file,sep=';')
                    
            except:
                df = pd.read_csv(file,encoding='utf-8', sep=';')
        
    elif extension == '.json':
        df = pd.read_json(file)
        
    elif extension == '.parquet':
        df = pd.read_parquet(file)

    # Reordering the columns in the order.
    df = df[['precio', 'producto_id', 'sucursal_id']]
    
    return df

In [ ]:
# Function that transform the Dataframe ingested, change null values and remove duplicates.data

def transf_cleansing(df):

    # producto_id column:

    # We replace the null values for a chain of 0 characters with the same lenght that the producto_id values have (13).
    df['producto_id'] = df['producto_id'].apply(lambda x: str(x).replace('nan','0000000000000'))

    # In case that the values have point, comas and/or spaces this line of code will removed them looking for normalization of the data.
    df['producto_id'] = df['producto_id'].apply(lambda x: x.replace(',','.').strip())

    # If the values have less than 13 digits we add the number of remaining  digits to be able to execute the next slicing.
    df['producto_id'] = df['producto_id'].apply(lambda x:  (((13 - len(x)) * '0') + x) if len(x)<13 else x)

    # Using slicing we obtain the section of the data that we are interested in.
    df['producto_id'] = df['producto_id'].apply(lambda x: str(x)[-1:-14:-1])
    df['producto_id'] = df['producto_id'].apply(lambda x: str(x)[::-1])

    # Data conversion to integers.
    df['producto_id'] = df['producto_id'].astype('float')

    # As the source data comes with values in cientific notation, we use a lambda function combined with pd.apply and format to chage the data to the desire outcome.
    df['producto_id'] = df['producto_id'].apply(lambda x: '%13.0f'% x)

  # Data conversion to integers.
    df['producto_id'] = df['producto_id'].astype('int64')


    # sucursal_id column:

    # After loading the dataframes, some values are structured like dates (eg. 10/06/153). Therefore, it is necessary changing the values to strings and replace the / for -. 
    df['sucursal_id'] = df['sucursal_id'].apply(lambda x: str(x))
    df['sucursal_id'] = df['sucursal_id'].str.replace('/','-').replace('/','-')


    # precio column:

    # Code section focused on managingg values with typos and nulls found in the initial csv, to convert price values into float.

    # We convert the data into alphanumeric characters.
    df['precio'] = df['precio'].apply(lambda x: str(x))
    
    # Price values that are longer than 10 characters are designated with the error tag. The 10 is an arbitraty lenght choose according to the prices of eatable products 
    # in a supermarket in Argentina. According to research, food products do not exceed 10 characters of value, namely, 9,999,999 Argentine pesos. 
    df['precio'] = df['precio'].apply(lambda x: 'error' if len(x) > 10 else x)
    
    
    # Numbers above 10 characters are deleted since they are very large numbers and in some cases have non numeric formats, therefore,  
    # they are not in the regular price ranges of the supermarkets. It looks like some errors were made when entering the data in the original csv. 
    toerase = df[df['precio'] == 'error'].index
    df.drop(toerase, inplace=True)
    
    
    # To convert the price column into decimal values what we do is bringing the values into numeric format with the pd.to_numeric function. Thanks to the errors = 'coerce' parameter
    # the values with errors are converted to NaN. Later on we use a lambda functipn to replace them for 0.
    numeric_values = pd.to_numeric(df.precio, errors='coerce')
    df.precio = numeric_values.apply(lambda x: float(str(x).replace('nan', '0')))
    df.precio  = df.precio.astype('float64')
    
    # In case that some columns remained with null values, we change them for 0. It would be a good practice to separate null values from errors, nevertheless,
    # the source files (.csv, json, .tct etc.) come with so many of them that it is complex to handle them.
    df = df.apply(lambda x: x.fillna(0))


    # To finish the transformation process we return to the producto_id in order to separate the column.
    
    # The code consist of splitting the column producto_id into 'comercioid', 'banderaid' and 'sucursalid', and converting them into separate columns as integer values.
    # The procedure is repeteated for each of the desired columns.
    # The objective if indentified which products do not have values assigned correctly.
   
    # We split sucursal_id into comercioid, banderaid and sucursalid.
    data = df.sucursal_id.str.split('-', expand=True)

    # We gave the new columns the desire name.
    data.columns = ['comercioid', 'banderaid', 'sucursalid']
    
    # This section of code carry out the transformation of alphanumeric characters into numeric values. It assing NaN to the data with errors, that is later replaced by 0.
    num_bandera = pd.to_numeric(data.banderaid, errors = 'coerce')
    data.banderaid = num_bandera.apply(lambda x: float(str(x).replace('nan', '0')))
    data.banderaid = data.banderaid.astype('int64')

    num_sucursal = pd.to_numeric(data.sucursalid, errors = 'coerce')
    data.sucursalid = num_sucursal.apply(lambda x: float(str(x).replace('nan', '0')))
    data.sucursalid = data.sucursalid.astype('int64')

    num_comercio = pd.to_numeric(data.comercioid, errors = 'coerce')
    data.comercioid = num_comercio.apply(lambda x: float(str(x).replace('nan', '0')))
    data.comercioid = data.comercioid.astype('int64')

    # Finally, we concatena the main table with the separate columns in just one dataframe.
    df = pd.concat([df,data], axis=1)
    
    # This function calls a third function that is the one in charge of creating the conection with MySQL through SQLAlchemy
    conection(df)

In [ ]:
def conection(df):
    from sqlalchemy import create_engine
    mysqlengine = create_engine('mysql+pymysql://root:14Arsenal14*@127.0.0.1:3306/PI_1')
    df.to_sql(name='precio_semana',con=mysqlengine, if_exists='append')